.cap {
    color: white;
    text-align: center;
    padding: 200px;
    font-size: 50px;
    background-color: lightblue;
}

#__xmlview0--label-bdi {
    color: white;
    text-align: center;
    padding: 100px;
    font-size: 100px;
    background: green;
}